<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <div class="auth">
        <h1 class="text-info text-center">{{'LOGIN' | translate}}</h1>
        <form class="form-auth">
            <div class="form-group form-group-lg has-feedback">
                <label class="sr-only"
                       for="inputEmail">Username</label>
                <input id="inputEmail"
                       class="form-control"
                       type="email"
                       placeholder="email@{{'EXAMPLE' | translate}}.com"
                       formControlName="email">
            </div>
            <div class="form-group form-group-lg has-feedback">
                <label class="sr-only"
                       for="inputPassword">Password</label>
                <input id="inputPassword"
                       class="form-control"
                       type="password"
                       placeholder="{{'PASS' | translate}}"
                       formControlName="password">
            </div>
            <button class="btn btn-lg btn-primary btn-block"
                    type="submit" disabled>{{'LOGIN' | translate}}</button>
        </form>
    </div>
</div>
