<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <ul class="nav navbar-nav pull-left">
        <li>
          <a [routerLink]="'/home' | localize" [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }">{{'HOME' | translate}}
          </a>
        </li>
        <li>
          <a [routerLink]="'/login' | localize" [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }">{{'LOGIN' | translate}}
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li class="btn-lang" (click)="changeLanguage('en')">EN</li>
        <li class="btn-lang" (click)="changeLanguage('de')">DE</li>
      </ul>
    </div>
  </nav>
</header>
<div class="container content">
  <router-outlet></router-outlet>
</div>
