.loader {
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 64px);
  font-size: 8px;
  text-indent: -9999px;
  border-top: 1.1em solid rgba(51,122,183, 0.2);
  border-right: 1.1em solid rgba(51,122,183, 0.2);
  border-bottom: 1.1em solid rgba(51,122,183, 0.2);
  border-left: 1.1em solid rgba(51,122,183, 1);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 100%;
  width: 64px;
  height: 64px;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.auth, .btn-primary,
.form-auth input[type='email'],
.form-auth input[type='password'] {
  border-radius: 2px;
}
.form-auth {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container-fluid {
    background-color: #ebf3f9;
  }
  .form-auth {
    padding: 16px 0;
  }
}
@media screen and (min-width: 768px) {
  .auth {
    border: solid 1px #ddd;
    background-color: #ebf3f9;
  }
  .form-auth {
    padding: 12px 24px 28px 24px;
  }
}
.btn-primary:enabled,
.btn-primary:disabled {
  border: none;
  position: relative;
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  -ms-transition: all 0s ease-out;
  transition: all 0s ease-out;
  background-color: #337ab7;
  -webkit-box-shadow: 0 4px 0 0 #275d8c;
  box-shadow: 0 4px 0 0 #275d8c;
}
.btn-primary:hover,
.btn-primary:focus {
  border: none;
  outline: none;
  background-color: #337ab7;
  top: 2px;
  -webkit-box-shadow: 0 2px 0 0 #275d8c;
  box-shadow: 0 2px 0 0 #275d8c;
}
.btn-primary:active {
  border: none !important;
  outline: none !important;
  background-color: #337ab7 !important;
  top: 3px;
  -webkit-box-shadow: 0 1px 0 0 #275d8c;
  box-shadow: 0 1px 0 0 #275d8c;
}
.btn-lang {
  padding: 16px;
  cursor: pointer;
}
.content {
  margin-top: 108px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.navbar {
  border-radius: 0;
}
.navbar-nav li {
  display: inline-block;
}
